@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
::-webkit-scrollbar{
    width: 0;
}
body{
    margin: 0%;
    font-family: "Open Sans", sans-serif;
    
}


/*                               Header Css                   */
header nav{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #C60404;
    background-color: white;
    width: 100%;


}

#logo{
    cursor: pointer;
}
#icon i{
    font-size: large;
    color: #C60404;
}
#icon i:hover{
    font-size:x-large;
    color: #c60404e2;
    transition: 0.5s;
}
#nav-link{
    display: flex;
    list-style: none;
    
}
#nav-link a{
    font-size: 20   px;
    text-decoration: none;
    font-style: bold;
    padding: 10px;
    color:black;
}
#nav-link a:hover{
    letter-spacing: 1.5px;
    color: #c60404e4;
    text-decoration: underline;
    transition: 0.5s;
}

#search{
height: 30px;
width: 350px;
border: none;
background-color: rgba(233, 233, 233, 0.51);
border-radius: 50px;
padding: 10px;

}
/*                               End                  */


/*                               Home Css                   */
#home{ 
    font-family: "Open Sans", sans-serif;
    background-image: url(../image/BG.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size:cover;
    
    


  
}
#hometext{
    padding-top: 12%;
    width: 40%;
    text-align:center;
    color: white;
}
#learn{
    padding: 20px 40px 20px 40px;
    border: none;
    background-color: white;
    font-size: 15px;
    border-radius: 2rem;
    color: #C60404;
}
#learn:hover{
    border: solid white 4px ;
    color: white;
    background-color:#C60404;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.711);
    transition: 0.5s;
    cursor: pointer;

}
/*                               End Css                   */




/*                               About Css                   */
#about{
    height: 170vh;
}
.line-container{
    display: flex;
    justify-content: center;
    align-items: center ;
    color: #C60404;

}

.line{
    width: 10%;
    height: 4px;
    margin: 17px;
    border-radius: 2rem;
    background-color: #C60404;

}

#aboutinfo{
    display: flex;
    justify-content:space-around;
    width: 100%;
}

#aboutinfo h1{
    color: #C60404;
}

.line2{
    width: .4%;
    height: 20rem;
    margin: 30px;
    border-radius: 2rem;
    background-color: #C60404;
}

.line3{
    width: .4%;
    height: 15rem;
    margin: 30px;
    border-radius: 2rem;
    background-color: #C60404;
}

#MOT{
    text-align: center;
    color: #C60404;
}
.teamicon{
    background-color: white;
    border-radius: 50%;
    height: 85px;
    width: 50%;
    margin-left: 25%;
    object-fit:cover;
    
 
}
.teamcontainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;

}
.teammember{    
    color: white;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
    background-color: #C60404;
    width: 12%;
    height: 15%;


}
/*                               End                 */


/*                               Services Css                   */

#service{
    height: 100vh;
    background-image: url(../image/ourservice3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.servicecontainer{
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;



 
}
.serviceboxes{
    display: flex;
    width: 100%;
    justify-content: space-around;

  
    
   
}
.service{

    margin-right: 10px;
    text-align: center;
}
.service h2{
    color: #C60404;
}
