@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
::-webkit-scrollbar{
    width: 0;
}
body{
    margin: 0%;

    
}


/*                               Header Css                   */
header nav{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #C60404;
    background-color: white;
    width: 100%;


}

#logo{
    cursor: pointer;
}
#icon i{
    font-size: large;
    color: #C60404;
}
#icon i:hover{
    font-size:x-large;
    color: #c60404e2;
    transition: 0.5s;
}
#icon button{
    background-color: transparent   ;
    padding: 10px;
    border: none;
}
#icon button:hover{
    cursor: pointer;
    transition: 0.5s;
    



}
#nav-link{
    display: flex;
    list-style: none;
    
}
#nav-link a{
    font-size: 20   px;
    text-decoration: none;
    font-style: bold;
    padding: 10px;
    color:black;
}
#nav-link a:hover{
    letter-spacing: 1.5px;
    color: #c60404e4;
    text-decoration: underline;
    transition: 0.5s;
}

#search{
height: 30px;
width: 350px;
border: none;
background-color: rgba(233, 233, 233, 0.51);
border-radius: 50px;
padding: 10px;

}
/*                               End                  */


/*                               Home Css                   */
#home{ 
    font-family: "Open Sans", sans-serif;
    background-image: url(../image/BG.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size:cover;
    
    


  
}
#hometext{
    padding-top: 12%;
    width: 40%;
    text-align:center;
    color: white;
}
#learn{
    padding: 20px 40px 20px 40px;
    border: none;
    background-color: white;
    font-size: 15px;
    border-radius: 2rem;
    color: #C60404;
}
#learn:hover{
    border: solid white 4px ;
    color: white;
    background-color:#C60404;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.711);
    transition: 0.5s;
    cursor: pointer;

}
/*                               End Css                   */




/*                               About Css                   */
#about{
    height: 150vh;
}
.line-container{
    display: flex;
    justify-content: center;
    align-items: center ;
    color: #C60404;

}

.line{
    width: 10%;
    height: 4px;
    margin: 17px;
    border-radius: 2rem;
    background-color: #C60404;

}

#aboutinfo{
    display: flex;
    justify-content:space-around;
    width: 100%;
}

#aboutinfo h1{
    color: #C60404;
}

.line2{
    width: .4%;
    height: 20rem;
    margin: 30px;
    border-radius: 2rem;
    background-color: #C60404;
}

.line3{
    width: .4%;
    height: 10rem;
    margin: 30px;
    border-radius: 2rem;
    background-color: #C60404;
}

#MOT{
    text-align: center;
    color: #C60404;
}
.teamicon{
    background-color: white;
    border-radius: 50%;
    height: 85px;
    width: 50%;
    margin-left: 25%;
    object-fit:cover;
    
 
}
.teamcontainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;

}
.teammember{    
    color: white;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
    background-color: #C60404;
    width: 12%;
    height: 15%;


}
/*                               End                 */


/*                               Services Css                   */

#service{
    height: 100vh;
    background-image: url(../image/ourservice3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.servicecontainer{
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;



 
}
.serviceboxes{
    display: flex;
    width: 100%;
    justify-content: space-around;

  
    
   
}
.service{

    margin-right: 10px;
    text-align: center;
}
.service h2{
    color: #C60404;
}

/*                            End                   */

/* Our Photo Gallery */


/*                          End                         */
#ourphoto{
    height: 30vh;
    background-image: url(../image/gallerybrigde.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;


}

#ourphoto h1{
    margin: 0%  ;
    padding-top: 60px;
}



/*                          Gallery                         */

#gallery{
    height: 100vh;

    background-image: url(../image/gallarybg2.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.gallerycontainer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top:60px;
}

.galleryitem{
    background-color:#C60404;
    height: 320px;
    width: 40%;
}



.galleryitem2{
    background-color:#000000;
    height: 160px;
    width: 10%;
}

.descrip{
    background-color: white;
    width: 100%;
}

/*                          End                         */

/*                               Contact Css                   */

#contact{
    height: 100vh;
    background-image: url(/image/contactpage.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C60404;
 

}
#contact form{
    display: flex;
    width: 30%;
    flex-direction: column;

  
  
 
}
.contact-info{
    display: flex;
    justify-content: space-between;

}
textarea{
    resize: none;
}
#contact form button{
    padding: 10px 30px;
    border: none;
    background-color: #C60404;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
#contact form h1{
    text-align: center;
}

#contact input{
    width: 200px;
    height: 35px;
    border-radius: 20px;
    padding-left: 10px;

    border: none;
    background-color: rgba(233, 233, 233, 0.51); 
}
#contact input::placeholder{
    color: gray
}
#contact textarea{
    width: 100%;
    height: 100px;
    border-radius: 20px;
    border: none;
    background-color: rgba(233, 233, 233, 0.51);

}
/* form */

#openlogin{
    display: none;
    position: fixed;
    height: 100vh;
    background-color: rgba(220, 220, 220, 0.314);
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;

}
.open-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.logincontainer1{
    font-family: "Open Sans", sans-serif;
    color: white;
    border-radius: 20px 0px  0px 20px;
    font-style:italic;
    font-weight: bold   ;
    background-color:#C60404;
    width: 20%  ;    
    text-align: center;
    height: 450px;


}
.logincontainer{
    font-family: "Open Sans", sans-serif;
    color: #C60404;
    border-radius: 0px 20px  20px 0px;
    font-style:italic;
    font-weight: bold   ;
    background-color: white;
    width: 20%  ;    
    text-align: center;
    height: 450px;


}
#profilepic{
    background-color: gray ;
    padding: 30px;
    margin-top: 10px;
    border-radius: 100%;
}


.logincontainer input{
    width: 200px;
    height:30px;
    border-radius: 5px;
}
.close {
   float:right;
    font-size: 20px;
    cursor: pointer;    
    padding-right: 10px;
}

.logincontainer button{
    border: none;
    background-color:#C60404;
    border-radius: 20px;
    color: white;
    width: 120px;
    height:40px;
}

footer{
    height: 45vh;
    background-color:#C60404;
}

.contact-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color:#C60404;
    padding: 20px;  

}

#contact-icon{
    background-color:   white;
    height: 8rem;
    width: 8rem;
    display:flex    ;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    font-size:2rem;
    color:#C60404;
}
.contact-info{
    color:white;
}
.contact-information{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.social-media{

   text-align: center;
}

.scroll-to-top{
  
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}
.scroll-to-top a{
    font-size: larger;
    font-weight: 600px;
    color: black;
}
.Rights{
    text-align: center;
    color: white;
    font-size: 0.8rem;
}