@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
::-webkit-scrollbar{
    width: 0;
}
body{
    margin: 0%;

    
}


/*                               Header Css                   */
header nav{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #C60404;
    background-color: white;
    width: 100%;


}

#logo{
    cursor: pointer;
}
.icon i{
    font-size: large;
    color: #C60404;
}
.icon i:hover{
    font-size:x-large;
    color: #c60404e2;
    transition: 0.5s;
}
.icon button{
    background-color: transparent   ;
    padding: 10px;
    border: none;
}
.icon button:hover{
    cursor: pointer;
    transition: 0.5s;
    



}
#nav-link{
    display: flex;
    list-style: none;
    
}
#nav-link a{
    font-size: 20   px;
    text-decoration: none;
    font-style: bold;
    padding: 10px;
    color:black;
}
#nav-link a:hover{
    letter-spacing: 1.5px;
    color: #c60404e4;
    text-decoration: underline;
    transition: 0.5s;
}

#search{
height: 30px;
width: 350px;
border: none;
background-color: rgba(233, 233, 233, 0.51);
border-radius: 50px;
padding: 10px;

}
/*                               End                  */


/*                               Home Css                   */
#home{ 
    font-family: "Open Sans", sans-serif;
    background-image: url(../image/BG.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size:cover;
    
    


  
}
#hometext{
    padding-top: 12%;
    width: 40%;
    text-align:center;
    color: white;
}
#learn{
    padding: 20px 40px 20px 40px;
    border: none;
    background-color: white;
    font-size: 15px;
    border-radius: 2rem;
    color: #C60404;
}
#learn:hover{
    border: solid white 4px ;
    color: white;
    background-color:#C60404;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.711);
    transition: 0.5s;
    cursor: pointer;

}
/*                               End Css                   */




/*                               About Css                   */
#about{
    height: 110vh;
}
.line-container{
    display: flex;
    justify-content: center;
    align-items: center ;
    color: #C60404;

}

.line{
    width: 10%;
    height: 4px;
    margin: 17px;
    border-radius: 2rem;
    background-color: #C60404;

}

.aboutinfo{
    display: flex;
    justify-content:space-around;
    width: 100%;
}

.aboutinfo h1{
    color: #C60404;
}

.line2{
    width: .4%;
    height: 20rem;
    margin: 30px;
    border-radius: 2rem;
    background-color: #C60404;
}

.line3{
    width: .4%;
    height: 10rem;
    margin: 30px;
    border-radius: 2rem;
    background-color: #C60404;
}

#MOT{
    text-align: center;
    color: #C60404;
}
.teamicon{
    background-color: white;
    border-radius: 50%;
    height: 100px;
    width: 50%;
    margin-left: 25%;
    object-fit:cover;
    
 
}
.teamcontainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;

}
.teammember{    
    color: white;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
    background-color: #C60404;
    width: 12%;
    height: 20%;


}
/*                               End                 */


/*                               Services Css                   */

#service{
    height: 100vh;
    background-image: url(../image/ourservice3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.servicecontainer{
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;



 
}
.serviceboxes{
    display: flex;
    width: 100%;
    justify-content: space-around;

  
    
   
}
.service{

    margin-right: 10px;
    text-align: center;
}
.service h2{
    color: #C60404;
}

/*                            End                   */

/* Our Photo Gallery */


/*                          End                         */
#ourphoto{
    height: 30vh;
    background-image: url(../image/gallerybrigde.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;


}

#ourphoto h1{
    margin: 0%  ;
    padding-top: 60px;
}



/*                          Gallery                         */

#gallery{
    height: 100vh;
    background-image: url(../image/gallarybg2.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.gallerycontainer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top:120px;
}

.galleryitem{
    background-color:#C60404;
    height: 400px;
    width: 40%;
}
.galleryitem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.galleryitem a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}



.galleryitem2{
    background-color:#000000;
    height: 200px;
    width: 10%;
}

.galleryitem2 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    font-size: small;
}

.galleryitem2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc{ 
    background-color:#c604049f;
    height: 50px    ;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:#C60404;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    font-size: small;
    color: white;
  }
.mySlides {display: none}

  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top:520%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color:red;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color:#C60404;
    color: white;
  }
  
  .active, .dot:hover {
    background-color:#c604048e;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

/*                          End                         */

/*                               Contact Css                   */

#contact{
    height: 100vh;
    background-image: url(/image/contactpage.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C60404;
 

}
#contact form{
    display: flex;
    width: 30%;
    flex-direction: column;

  
  
 
}
.contact-info{
    display: flex;
    justify-content: space-between;

}
textarea{
    resize: none;
}
#contact form button{
    padding: 10px 30px;
    border: none;
    background-color: #C60404;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
#contact form h1{
    text-align: center;
}

#contact input{
    width: 250px;
    height: 50px;
    border-radius: 20px;
    padding-left: 10px;

    border: none;
    background-color: rgba(233, 233, 233, 0.51); 
}
#contact input::placeholder{
    color: gray
}
#contact textarea{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: none;
    background-color: rgba(233, 233, 233, 0.51);

}
/* form */

#openlogin{
    display: none;
    position: fixed;
    height: 100vh;
    background-color: rgba(220, 220, 220, 0.314);
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;

}


.open-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.logincontainer1{
    font-family: "Open Sans", sans-serif;
    color: white;
    border-radius: 20px 0px  0px 20px;
    font-style:italic;
    font-weight: bold   ;
    background-image: url(/image/signin.png);
    background-size: cover;
    width: 20%  ;    
    text-align: center;
    height: 550px;


}
.logincontainer{
    font-family: "Open Sans", sans-serif;
    color: #C60404;
    border-radius: 0px 20px  20px 0px;
    font-style:italic;
    font-weight: bold   ;
    background-color: white;
    width: 20%  ;    
    text-align: center;
    height: 550px;


}

.signupbtn{
    background-color: transparent;
    border: none;
    color: #1104c6;
    padding: 0%;
    font-size:  large;
    
}
.signupbtn:hover{

    cursor: pointer;
    color: #1104c6a9;
}
.profilepic{
    background-color: gray ;
    padding: 30px;
    margin-top: 10px;
    border-radius: 100%;
}


.logincontainer input{
    width: 200px;
    height:30px;
    border-radius: 5px;
}
.close {
   float:right;
    font-size: 20px;
    cursor: pointer;    
    padding-right: 10px;
}

.submitbtn{
    border: none;
    background-color:#C60404;
    border-radius: 20px;
    color: white;
    width: 120px;
    height:40px;
}
.submitbtn:hover{
    cursor: pointer;
    background-color: #C60404a9;
}
footer{
    height: 45vh;
    background-color:#C60404;
}


/*                                  Sign Up                                                  */
#opensignup{
    display: none;
    position: fixed;
    height: 100vh;
    background-color: rgba(220, 220, 220, 0.314);
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;

}

.signupcontainer{
    font-family: "Open Sans", sans-serif;
    color: white;
    border-radius: 20px 0px  0px 20px;
    font-style:italic;
    font-weight: bold   ;
    background-image: url(/image/signin.png);
    background-size: cover;
    width: 21%  ;    
    text-align: center;
    height: 550px;
    text-align: center;
}


.signupcontainer1{
    font-family: "Open Sans", sans-serif;
    color: #C60404;
    border-radius: 0px 20px  20px 0px;
    font-style:italic;
    font-weight: bold   ;
    background-color: white;
    width: 21%  ;           
    height: 550px;
  

}
.signupcontainer1 h1{
    text-align: center;
}
.signupinfo{
    display: flex;
    justify-content:space-around;
}

.signupinfo input{
    height: 30px;
    border-radius: 5px;
}
.signupinfo1{
    margin-left: 10px;
}
.signupinfo1 input{
    width: 95.5%;
    height: 30px;
    border-radius: 5px;
}
.submit{
    text-align: center;
}
/*                                    End                                                   */
.contact-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color:#C60404;
    padding: 20px;  

}

 
.contact-info{
    color:white;
}
.contact-information{
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.contact-information i{
    background-color:   white;
    height: 8rem;
    width: 8rem;
    display:flex    ;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    font-size:2rem;
    color:#C60404;
}


.social-media{

   text-align: center;
}

.scroll-to-top{
  
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}
.scroll-to-top a{
    font-size: larger;
    font-weight: 600px;
    color: black;
}
.Rights{
    text-align: center;
    color: white;
    font-size: 0.8rem;
}

/*Product */

#product{
    height: 120vh;
}
.productcontainer{

    display:flex;
    height: 100vh;
}
.pcontainer {
    height: 100vh;
    width: 50%;
}
.pcontainer h1{
    color:#C60404;
}

.ourproductcontainer{
 
    display: flex;

}

.productbox{

    height: 50vh;
    width:50%;
    padding:25px;
   
  

}
.productbox h3{
    color:#C60404;  
 
}
.productbox h1{
    color: #000000;
    font-size: 2.5rem;
    margin: 0%;
    padding: 0%;
}

.productbox p{
    color: #C60404;
    margin: 0%;
    padding: 0%;
}
#viewbtn{
    color: white;
    background-color: #C60404;
    padding: 20px 60px 20px 60px;
    font-size: large;
    font-weight: bolder;
    border: none;
    border-radius: 20px 0px 20px 0px;
}
.productbox1{

    padding-top: 50px;
    height: 50%;
    width:50%;
    
  

}
.productlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.productlist h4{
    margin: 0%;
    padding: 0%;
}

.recommendation img{
    height: 200px;
    width: 200px;
}
.pcontainer1
{
    height: 100vh;
    background-color: #1104c6;
    width: 50%;
}


/*End*/